
/* ItemDetailContainer Styles */
.item-detail-container {
  background-color: #ffffff; /* Fondo blanco */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  margin: 20px 0;
}
