@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap');


body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #f4f4f4; /* Color de fondo gris claro */
}

.App {
  text-align: center;
}

/* Ajustes generales para los contenidos de la aplicación */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilo para el contenido principal */
.main-content {
  background-color: #ffffff; /* Fondo blanco */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

/* Estilo para los títulos principales */
h1, h2, h3 {
  color: #d6d4d4; /* Color de texto oscuro */
}

/* Estilo para los enlaces */
a {
  color: #c4c4c4; /* Color azul claro para los enlaces */
  text-decoration: none;
  transition: color 0.3s ease;
  border-radius: 20px;
}

a:hover {
  background-color: #363636; /* Color azul más oscuro al pasar el ratón */
  color: #777676;
}

/* Estilo para el pie de página */
.footer {
  margin-top: 20px;
  padding: 10px 0;
  background-color: #1a1a1a; /* Fondo negro para el pie de página */
  color: #ffffff; /* Texto blanco */
}
